@model _13DbFirstApproach.Models.Employee
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "Home", FormMethod.Post))
{
    @Html.HiddenFor(employee => employee.Id)

    @Html.LabelFor(employee => employee.Name)
    @Html.TextBoxFor(employee => employee.Name)
    <br />

    @Html.LabelFor(employee => employee.Email)
    @Html.TextBoxFor(employee => employee.Email)
    <br />

    @Html.LabelFor(employee => employee.Location)
    @Html.TextBoxFor(employee => employee.Location)
    <br />

    <input type="submit" value="Update" />
}

