@using PagedList
@using PagedList.Mvc
@model IPagedList<_16PaginationsSearchingAndSorting.Models.Employee>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Create", "Create", "Home")

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    @Html.Hidden("page", ViewBag.Page as string )
    @Html.Hidden("sortOrder", ViewBag.CurrentSortOrder as string)
    <div class="form-group col-md-10">

        @Html.Label("Enter the Search Name", htmlAttributes: new { @class = "control-label col-md-3" })
        @Html.TextBox("SearchString", null, htmlAttributes: new { @class = "form-control col-md-9" })

    </div>

    <div class="form-group col-md-2">

        <input type="submit" value="Search" />

    </div>
}


<table class=" table table-bordered table-condensed table-hover table-responsive table-striped">
    <thead>
        <tr>
            <th>ID </th>

            <th>
                @Html.ActionLink("Name", "Index", "Home",
               new { sortOrder = ViewBag.NameSort, searchString = ViewBag.SearchString, page = ViewBag.Page }, new { })

                @if (ViewBag.CurrentSortOrder == "name_asc")
                {
                    <span class="glyphicon glyphicon-arrow-up"></span>
                }
                else if (ViewBag.CurrentSortOrder == "name_dsc")
                {
                    <span class="glyphicon glyphicon-arrow-down"></span>
                }
                else
                {
                    <span></span>
                }
            </th>


            <th>
                @Html.ActionLink("Salary", "Index", "Home",
              new { sortOrder = ViewBag.SalarySort, searchString = ViewBag.SearchString, page = ViewBag.Page }, new { })
                @if (ViewBag.CurrentSortOrder == "salary_asc")

                {
                    <span class="glyphicon glyphicon-arrow-up"></span>
                }
                else if (ViewBag.CurrentSortOrder == "salary_dsc")
                {
                    <span class="glyphicon glyphicon-arrow-down"></span>
                }
                else
                {
                    <span></span>
                }
            </th>

            <th>
                @Html.ActionLink("Department", "Index", "Home",
              new { sortOrder = ViewBag.DepartmentSort, searchString = ViewBag.SearchString, page = ViewBag.Page }, new { })

                @if (ViewBag.CurrentSortOrder == "dept_asc")
                {
                    <span class="glyphicon glyphicon-arrow-up"></span>
                }
                else if (ViewBag.CurrentSortOrder == "dept_dsc")
                {
                    <span class="glyphicon glyphicon-arrow-down"></span>
                }
                else
                {
                    <span></span>
                }
            </th>

            <th>Actions</th>
        </tr>

    </thead>

    <tbody>

        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.Id </td>
                <td>@employee.Name </td>
                <td>@employee.Salary</td>
                <td>@employee.Department</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Home", new { Id = employee.Id }, null) |
                    @Html.ActionLink("Details", "Details", "Home", new { Id = employee.Id }, null) |
                    @Html.ActionLink("Delete", "Delete", "Home", new { Id = employee.Id }, null) |
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, Page => Url.Action("Index", "Home",
    new { Page, searchString = ViewBag.SearchString, sortOrder = ViewBag.CurrentSortOrder }))
</div>

